h3{
	color: #fff1e1;
}

td{
	text-align: center; background-color:  #d26015;
}

h1{
	letter-spacing: 5px;
}

h2{
	text-decoration: underline;
		margin: 1% 20%;
}
table{
	border-style: solid ;
	border-width: 3px;

}



